<div class="homepage-component container-fluid">
    
    <div class="row text-box intro-section">
        <div class="col-md-12">
            <div class="text-div left">
                <div class="title">THE PADDLEWHEELER PUB</div>
                <div class="content">The paddlewheeler pub is a new westminster icon. The paddlewheeler opened as part of the original westminster quay public market back in 1986. Today, the paddlewheeler is best known for it’s award winning patio on the boardwalk along the beautiful fraser river. A true sports pub with it’s 11 hd tv’s and 3 hd big screens. The 15 taps behind the bar have something for everyone’s taste buds, because the paddlewheeler is a true supporter of locally brewed craft beers. If food is what you’re looking for, we have pub favourites from saucy chicken wings to juicy burgers, fresh seafood, salad’s and daily homemade soups. So on your next stroll down the boardwalk, be sure to stop in for a visit, you won’t be disappointed.</div>
            </div>
        </div>
    </div>

    <div class="row text-box best-sellers-section">
        <div class="col-md-12 p-5 scrollmenu">
            <mat-card *ngFor="let item of items" class="product-card">
                <mat-card-header>
                </mat-card-header>
                <div class="img-container">
                    <img mat-card-image 
                        [src]="item.image"
                        alt="{{item.name}} product image">
                    <div class="overlay">
                        <button routerLink="/product/{{item.id}}" >
                            View Product
                        </button>
                    </div>
                </div>
                
                <mat-card-content>
                    <p class="name">
                        {{item.name}}
                    </p>
                    <p class="description">
                        <!-- {{item.description}} -->
                    </p>
                    <p class="price">
                        ${{item.price}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="button button--buy snipcart-add-item default-button"
                        [attr.data-item-url]="item.url"
                        [attr.data-item-id]="item.id"
                        [attr.data-item-price]="item.price"
                        [attr.data-item-description]="item.description"
                        [attr.data-item-image]="item.image"
                        [attr.data-item-name]="item.name">
                        Add to cart
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row text-box custom-made-section">
        <div class="col-md-12">
            <div class="text-div right">
                <div class="title">PRIVATE EVENTS</div>
                <div class="content">
                    Events at The Paddlewheeler Pub are always memorable and special.
                </div>
            </div>
        </div>
    </div>
    
    <div class="row text-box steamcube-section">
        <div class="col-md-12">
            <div class="text-div left">
                <div class="title">PATIO VIEWS</div>
                <div class="content">The views of the Fraser River are unbeatable from our spacious patio</div>
            </div>
        </div>
    </div>
   
</div>